{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}



{% block content %}


    <label for="hotel">Hotels</label>
      <select name="hotel">
        {% for hotel in hotels %}
          <option value="{{hotel.name}}">{{hotel.name}}</option>
        {% endfor %}
      </select>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

    <label for="restaurant">Restaurants</label>
      <select name="restaurant">
        {% for restaurant in restaurants %}
          <option value="{{restaurant.name}}">{{restaurant.name}}</option>
        {% endfor %}
      </select>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

    <label for="activities">Activities</label>
      <select name="activities">
        {% for activity in activities %}
          <option value="{{activity.name}}">{{activity.name}}</option>
        {% endfor %}
      </select>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

{% endblock %}
